apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
        - name: account-service
          image: account-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8081
          env:
            - name: CONFIG_SERVER_URL
              value: "http://config-server:8888"
            # Desactivamos Eureka aquí también
            - name: EUREKA_CLIENT_ENABLED
              value: "false"
            
            # Variables de BD
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres-db:5432/account_db"
            - name: SPRING_DATASOURCE_USERNAME
              value: "myfinances_user"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "myfinances_pass"
            
            # Zipkin
            - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
              value: "http://zipkin:9411/api/v2/spans"
---
apiVersion: v1
kind: Service
metadata:
  name: account-service
spec:
  selector:
    app: account-service
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
