apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: user-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8084
          env:
            - name: CONFIG_SERVER_URL
              value: "http://config-server:8888"
            
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:postgresql://postgres-db:5432/user_db"
            - name: SPRING_DATASOURCE_USERNAME
              value: "myfinances_user"
            - name: SPRING_DATASOURCE_PASSWORD
              value: "myfinances_pass"
            
            - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
              value: "http://zipkin:9411/api/v2/spans"
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 8084
      targetPort: 8084
