services:
  discovery-server:
    image: discovery-server:latest
    container_name: discovery-server
    ports:
      - "8761:8761"
    networks:
      - myfinances-net
    environment:
      - EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
      - EUREKA_CLIENT_FETCH_REGISTRY=false

  config-server:
    image: config-server:latest
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - discovery-server
    networks:
      - myfinances-net
    environment:
      # Aquí llenamos la variable que pusimos en el properties del Config Server
      - EUREKA_URI=http://discovery-server:8761/eureka/

  account-service:
    image: account-service:latest
    container_name: account-service
    ports:
      - "8081:8081"
    restart: on-failure
    depends_on:
      - config-server
      - discovery-server
    networks:
      - myfinances-net
    environment:
      # Aquí llenamos la variable que pusimos en el properties del Account Service
      - CONFIG_SERVER_URL=http://config-server:8888
      - EUREKA_URI=http://discovery-server:8761/eureka/

  gateway-service:
    image: gateway-service:latest
    container_name: gateway-service
    ports:
      - "8080:8080"
    restart: on-failure
    depends_on:
      - config-server
      - discovery-server
    networks:
      - myfinances-net
    environment:
      # Aquí llenamos la variable que pusimos en el yml del Gateway
      - CONFIG_SERVER_URL=http://config-server:8888
      - EUREKA_URI=http://discovery-server:8761/eureka/

networks:
  myfinances-net:
    driver: bridge
