spring:
  application:
    name: gateway-service
  config:
    # TRUCO: Si existe la variable CONFIG_SERVER_URL usa esa, si no, usa localhost
    import: "optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888}"